/* default: font-size: 16px; */
body {
  position: fixed;
  font-size: 24px;
  height: 100svh;
  width: 100vw;
  padding: 0 7.5%;

  > * {
    border: 2px solid red;
  }

  #message-section {
    height: 82.5%;

    ul {
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 2vh;

      li {
        border-radius: 20px;
        padding: 10px;
        max-width: 70%;

        &.me {
          background-color: lightblue;
          align-self: flex-end;
          margin-right: 2vw;
        }

        &.notme,
        & {
          background-color: seashell;
          align-self: flex-start;
          margin-left: 2vw;
        }
      }
    }
  }

  form {
    height: 17.5%;
    padding: 2vh 5vw;
    display: flex;
    gap: 5%;
    & > input {
      flex: 1;
      height: 100%;
    }
    & > button {
      height: 100%;
      flex: 0.2;
    }
  }
}

#button-logout {
  position: absolute;
  right: 1vw;
  top: 1vh;
  font-size: 0.5em;
  height: 4vh;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
